.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-remove-icon {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotate(45deg);
  /* background-color: #921d1d; */
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0.6;
  transition: .2s all ease-in-out;
  &:hover {
    color: red;
    opacity: 1;
  }
}

.card-tags {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 80%;

  span {
    background: $blue;
    font-size: .7em;
    padding: 2px 4px;
    border-radius: 3px;
  }

  a {
    color: white;
  }
}
